{% extends 'products/layout.html' %}
{% block heading %}Products{% endblock %}
{% block body %}
<div class="container">
    <h1>Products</h1>
    <div class="row" style="width: 100%; margin: auto;">
        {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_url }}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{ product.productName }} - Rs. {{product.price}}/-</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'buy' product.id %}" class="btn btn-primary" style="background-color: #00AC5C;">Buy Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}