<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>HRF - {% block heading %}{% endblock %}</title>
</head>

<body>
  <nav>
    <ul style="justify-content: space-between;">
      <li><a href='#'>Home</a></li>
      <li id="special-nav">HRF</li>
      <li><a href="#">About Us</a></li>
    </ul>
  </nav>
  {% block body %} {% endblock %}
  <footer>
  <h1>HRF - The Name of Brand</h1>
  </footer>
</body>

</html>